<!DOCTYPE html>
<html>

	<h1>Welcome to Yale Athletics Dataset</h1>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script>
	<script src="https://cdn.rawgit.com/twitter/typeahead.js/master/dist/typeahead.jquery.min.js">
	</script>

	<head>
		<title>Search Records</title>
		<style>
			label {
				display: inline-block;
				width: 140px;
				text-align: right;
			}

			.tt-query {
				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			}

			.tt-hint {
				color: #999
			}

			.tt-menu {
				/* used to be tt-dropdown-menu in older versions */
				width: 422px;
				margin-top: 4px;
				padding: 4px 0;
				background-color: #fff;
				border: 1px solid #ccc;
				border: 1px solid rgba(0, 0, 0, 0.2);
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
				-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
				box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
			}

			.tt-suggestion {
				padding: 3px 20px;
				line-height: 24px;
			}

			.tt-suggestion.tt-cursor,
			.tt-suggestion:hover {
				color: #fff;
				background-color: #0097cf;
			}

			.tt-suggestion p {
				margin: 0;
			}

			.tt-hint {
				color: #999;
			}

			.tt-menu {
				/* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
				width: 422px;
				margin-top: 12px;
				padding: 8px 0;
				background-color: #fff;
				border: 1px solid #ccc;
				border: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 8px;
				box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
			}

			.tt-suggestion {
				padding: 3px 20px;
				font-size: 18px;
				line-height: 24px;
			}

			.tt-suggestion.tt-is-under-cursor {
				/* UPDATE: newer versions use .tt-suggestion.tt-cursor */
				color: #fff;
				background-color: #0097cf;
			}

			.tt-suggestion p {
				margin: 0;
			}

			.tt-menu {
				/* used to be tt-dropdown-menu in older versions */
				width: 422px;
				margin-top: 4px;
				padding: 4px 0;
				background-color: #fff;
				border: 1px solid #ccc;
				border: 1px solid rgba(0, 0, 0, 0.2);
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
				-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
				box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
			}

			.tt-suggestion {
				padding: 3px 20px;
				line-height: 24px;
			}

			.tt-suggestion.tt-cursor,
			.tt-suggestion:hover {
				color: #fff;
				background-color: #0097cf;
			}

			.tt-suggestion p {
				margin: 0;
			}
		</style>
	</head>

	<body>
		<div id="search">

			<form id="searchparams" action="static_pages/listing" method="get">
				<fieldset>
					<p>
						<label>Sport:</label>
						<input class="typeahead-sport" name="sports" type="text" placeholder="sports">
					</p>
					<p>
						<label>University:</label>
						<select id="selUni">
							<option value="3"></option>
							<option value="1">Yale</option>
							<option value="2">Harvard</option>
						</select>
					</p>
					<p>
						<label>Year:</label>
						<select id="selyear">
							<option></option>
							<option>2016</option>
						</select>
					</p>
					<p>
					</p>
					<p>
						<label>Name:</label>
						<input name="name" type="text" />
					</p>
					<p>
						<label>Active Seasons:</label>
						<input name="aseasons" type="text" />
					</p>
					<p>
						<label>City:</label>
						<input class="typeahead-city" name="city" type="text" placeholder="city">
					</p>
					<p>
						<label>Number:</label>
						<input name="number" type="text" />
					</p>
					<p>
						<label>Position:</label>
						<input name="position" type="text" />
					</p>
					<p>
						<label>Hometown:</label>
						<input class="typeahead-city" name="hometown" type="text" placeholder="city">
					</p>
					<input type="submit" value="submit"/>
				</fieldset>
			</form>
		</div>

		<script>
			function search() {
				document.getElementById("searchparams").submit();
				// window.location.href = "static_pages/listing";
			}

			$(document).ready(function() {
				$('.1').hide();
				$('.2').hide();

				$("#selUni").change(function() {
					if ($('#selUni option:selected').text() == "Yale") {
						$('.1').show();
						$('.2').hide();
					} else if ($('#selUni option:selected').text() == "Harvard") {
						$('.2').show();
						$('.1').hide();
					} else {
						$('.2').hide();
						$('.1').hide();
					}

				});
			});

			var substringMatcher = function(strs) {
				return function findMatches(q, cb) {
					var matches, substringRegex;

	        // an array that will be populated with substring matches
	        matches = [];

	        // regex used to determine if a string contains the substring `q`
	        substrRegex = new RegExp(q, 'i');

	        // iterate through the pool of strings and for any string that
	        // contains the substring `q`, add it to the `matches` array
	        $.each(strs, function(i, str) {
	        	if (substrRegex.test(str)) {
	        		matches.push(str);
	        	}
	        });

	        cb(matches);
	      };
	    };

	    var sports = ['Basketball', 'Volleyball', 'Tennis', 'Football', 'Lacrosse', 'Fencing', 'Crew', 'Swimming', 'Hockey', 'Water Polo', 'Golf', 'Polo'];

	    var cities = ['New Haven', 'Los Angeles', 'Boston', 'Bar Harbor', 'New York', 'Dallas', 'Indianapolis', 'Houson', 'Santa Barbara', 'San Francisco', 'Lansing', 'Philadelphia'];

	    var hschools = ['High School abc', 'High School def', 'High School ghi', 'High School jkl', 'High School mno', 'High School pqr', 'High School stu', 'High School vwx', 'High School yz'];

	    $('.typeahead-sport').typeahead({
	    	hint: true,
	    	highlight: true,
	    	minLength: 1
	    }, {
	    	name: 'sports',
	    	source: substringMatcher(sports)
	    });

	    $('.typeahead-city').typeahead({
	    	hint: true,
	    	highlight: true,
	    	minLength: 1
	    }, {
	    	name: 'city',
	    	name: 'hometown',
	    	source: substringMatcher(cities)
	    });

	    $('.typeahead-hschool').typeahead({
	    	hint: true,
	    	highlight: true,
	    	minLength: 1
	    }, {
	    	name: 'hschool',
	    	source: substringMatcher(hschools)
	    });

	  </script>
	</body>
</html>
